/* Fullscreen reset and background */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Container to center everything */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  color: black;
  background-color: #88d5ea;
  background-size: cover;
}

/* Adjusted logo size */
.login-logo {
  width: 700px;
  height: auto;
  margin-bottom: 40px;
}

/* Login form styling */
.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  color: black;
}

.login-form label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}

.login-form input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f4f6fa;
  color: black;
}

.login-form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}
